@use '/src/styles/constants/colors';

.dropdown {
  position: relative;

  .dropButton {
    z-index: 3;
    display: flex;
    align-items: center;
    width: 123px;
    height: 40px;
    margin-top: 30px;
    background-color: colors.$WHITE;
    border: 1px solid colors.$GRAY100;
    border-radius: 10px;
    transition: 0.1s;

    .circleIcon {
      margin-left: 20px;
    }

    .currentList {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 700;
    }

    .arrowIcon {
      position: absolute;
      width: 22px;
      margin-left: 90px;
      fill: colors.$GRAY300;
    }
  }

  .dropBox {
    position: absolute;
    top: 105%;
    z-index: 3;
    width: 123px;
    background-color: colors.$WHITE;
    border: 1px solid colors.$GRAY100;
    border-radius: 10px;
    box-shadow: 0 4px 12px 4px rgba(34, 37, 41, 8%);

    .list {
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: colors.$GRAY800;
      transition: 0.2s;

      &:not(.selected):hover {
        font-weight: 700;
        background-color: colors.$GRAY50;
      }

      button {
        width: 100%;
        height: 100%;
      }
    }

    .selected {
      background-color: colors.$SECONDARY01;

      button {
        font-weight: 800;
      }
    }
  }

  .focused {
    color: colors.$GRAY300;
    border: 2px solid #8592fe;
  }
}
