@use 'src/styles/constants/_colors';
@use 'src/styles/mixins/_flexbox';

.manageAd {
  width: 100%;
  height: 1100px;
  padding-bottom: 40px;
  background: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px colors.$SHADOW;

  h1 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 0;
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    color: colors.$GRAY800;
    background: colors.$BACKGROUND;
  }

  .top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    border-radius: 50%;

    .select {
      position: relative;
      display: flex;
      width: 150px;
      height: 40px;
      padding: 12px 16px;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      color: colors.$GRAY800;
      background: colors.$WHITE;
      border: 1px solid colors.$GRAY100;
      border-radius: 10px;

      .options {
        position: absolute;
        top: 105%;
        left: 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: hidden;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        color: colors.$GRAY800;
        user-select: none;
        background: colors.$WHITE;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 15%);

        li {
          width: 100%;
          height: 44px;

          &:hover {
            background: colors.$GRAY100;
          }

          button {
            width: 100%;
            height: 100%;
          }
        }
      }

      svg {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 24px;
        pointer-events: none;
        transform: translate(0, -50%);
      }

      .rotate {
        transform: translate(0, -50%) rotate(180deg);
      }
    }

    .focused {
      border: 1px solid colors.$PRIMARY;
    }

    .creatAdBtn {
      @include flexbox.flexbox(center, center);
      width: 108px;
      height: 40px;
      padding: 12px 0;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      color: colors.$WHITE;
      background: colors.$PRIMARY;
      border-radius: 10px;
    }
  }

  .ads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    width: 100%;
    padding: 0 40px;
  }
}
