@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';

.app {
  display: flex;
  height: auto;
  min-height: 984px;
  background: colors.$BACKGROUND;

  header {
    width: 100%;
    height: 80px;
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
    margin-left: 320px;
    background: colors.$BACKGROUND;

    main {
      @include flexbox.flexbox(center, center);
      flex-direction: column;
      width: 100%;
      padding: 0 40px;
    }
  }
}
