.rdrDefinedRangesWrapper {
  display: none;
}

.rdrMonthName {
  text-align: center !important;
}

.rdrCalendarWrapper {
  border-radius: 20px;
}

.rdrNextPrevButton {
  border-radius: 20px !important;
}
