// Grayscale
$WHITE: #ffffff;
$GRAY50: #edeff1;
$GRAY100: #d1d8dc;
$GRAY300: #94a2ad;
$GRAY800: #3a474e;

// Prime
$PRIMARY: #586cf5;
$SECONDARY01: #e5f4fd;
$SECONDARY02: #ea3a4b;

// BG
$BACKGROUND: #f6f7f8;

// Graph
$GRAPH01: #4fadf7;
$GRAPH02: #85da47;
$GRAPH03: #ac8af8;

// Other
$YELLOW: #f7d849;
$BLUE: #3d91ff;
$SHADOW: rgba(0, 0, 0, 4%);
