@use 'src/styles/constants/colors';

.dropdown {
  position: relative;
  width: 150px;
  height: 40px;
  border: 1px solid black;
}

.options {
  position: absolute;
  top: 105%;
  z-index: 1;
  width: 100%;
  background: colors.$WHITE;
  border: 1px solid black;
  opacity: 1;

  li {
    width: 100%;
    height: 20px;
    cursor: pointer;

    &:hover {
      background-color: colors.$GRAY100;
    }

    button {
      width: 100%;
      height: 100%;
    }
  }
}
