@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrap {
  width: 100%;
  margin-bottom: 66px;
}

.title {
  margin: 40px 0 20px;
  font-size: 16px;
  font-weight: 700;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 22px;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: colors.$WHITE;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0, 0, 0, 4%);
}

.buttonContainer {
  @include flexbox.flexbox('between');

  .categoryDropdownWrap {
    display: flex;
    justify-content: space-between;
    width: 256px;
  }
}
