@use '/src/styles/constants/colors';

.boardContainer {
  background: colors.$WHITE;

  .tableWrap {
    position: relative;
    overflow-x: scroll;
    font-size: 12px;

    .table {
      width: 100%;
      margin: 0 auto;
      text-align: right;
      border-top: 1px solid colors.$GRAY50;

      .tableHead {
        font-size: 12px;
        color: colors.$GRAY300;
      }

      .tableBody {
        .tableRows {
          .tableData:first-child {
            text-align: left;
          }
          &:last-child {
            color: colors.$PRIMARY;
          }
        }
      }

      &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        width: 120px;
        height: 300px;
        content: '';
        background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0%) 100%);
      }

      td,
      th {
        width: 120px;
        padding: 15px 8px;
        border-bottom: 1px solid colors.$GRAY50;

        &:first-child {
          text-align: left;
        }
      }
    }
  }
}
