@use '/src/styles/constants/colors';

.mediaStatusWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: colors.$GRAY800;
  }

  .chartWrap {
    width: 100%;
    padding: 40px;
    background-color: colors.$WHITE;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  }
}
