@use 'src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.wrapper {
  @include flexbox.flexbox(center, center);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: colors.$BACKGROUND;

  .outer {
    position: absolute;
    transform-origin: center center;
    animation: spin 0.5s infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
